body { 
    background: white repeat;
    color: white;
}
@keyframes prueba {
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@-moz-keyframes prueba{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@-webkit-keyframes prueba{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
ul.solarsystem {
    position: relative;
    height: 100vh;
    list-style: none;
    overflow: hidden;
    -webkit-transition: all 0.09s ease-in;
    transition: all 0.09s ease-in;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    li {
        border: 2px dotted #394057;
        a{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            animation-name: prueba;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear
        }
        &.sun {
            position:absolute;
            background:url("../assets/6.png");
            background-size: cover;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            width:158px;
            height:158px;
            border-style: none;
        }
        &.mercury {
            a{
                animation-duration:5s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -100px;
            margin-left: -100px;
            width:200px;
            height:200px;
            border-radius: 100px;
            border-color: black;
            span {
                top: 22px;
                left: 22px;
                width:13px;
                height:13px;
                border-radius: 7.5px;
                background-color:black;
                background-size: cover;
                display: block;
                position: absolute;
            }
        }
        &.venus {
            a{
                animation-duration:10s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -120px;
            margin-left: -120px;
            width:240px;
            height:240px;
            border-radius: 120px;
            border-color: black;
            display: block;
            span {
                top: 25px;
                left: 25px;
                width:16px;
                height:16px;
                border-radius: 8px;
                background-color:black;
                background-size: cover;
                display: block;
                position: absolute;
            }
        }
        &.earth {
            a{
                animation-duration:15s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -140px;
            margin-left: -140px;
            width:280px;
            height:280px;
            border-radius: 140px;
            border-color: black;
            span {
                top: 68px;
                left: 5px;
                width:16px;
                height:16px;
                border-radius: 8px;
                background-size: cover;
                display: block;
                position: absolute;
                background-color:black;
                background-size: cover;
            }
        }
        &.mars {
            a{
                animation-duration:20s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -160px;
            margin-left: -160px;
            width:320px;
            height:320px;
            border-radius: 160px;
            border-color: black;
            span {
                top: -7px;
                left: 175px;
                width:18px;
                height:18px;
                border-radius: 9px;
                background-size: cover;
                display: block;
                position: absolute;
                background-color:black;
                background-size: cover;
                }   
        }
        &.saturn {
            a{
                animation-duration:25s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -180px;
            margin-left: -180px;
            width:360px;
            height:360px;
            border-radius: 180px;
            border-color: black;
            span {
                background:url("../assets/5.png");
                top: 24px;
                left: 285px;
                width:119px;
                height:68px;
                background-size: cover;
                display: block;
                position: absolute;
            }
        }
        &.jupiter {
            a{
                animation-duration:30s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -200px;
            margin-left: -200px;
            width:400px;
            height:400px;
            border-radius: 200px;
            border-color: black;
            display: block;
            span {
                top: 20px;
                left: 24px;
                border-radius: 40px;
                width:80px;
                height:80px;
                background-size: cover;
                background-color:black;
                display: block;
                position: absolute;
            }
        }
        &.uranus {
            a{
                animation-duration:35s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -220px;
            margin-left: -220px;
            width:440px;
            height:440px;
            border-radius: 220px;
            border-color: black;
            span {
                top: 7px;
                left: 300px;
                width:30px;
                height:30px;
                border-radius: 40px;
                background-size: cover;
                background-color:black;
                display: block;
                position: absolute;
            }
        }
        &.neptune {
            a{
                animation-duration:40s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -240px;
            margin-left: -240px;
            width:480px;
            height:480px;
            border-radius: 240px;
            border-color: black;
            span {
                width:15px;
                height:15px;
                top: 0px;
                left: 170px;
                border-radius: 7.5px;
                background-size: cover;
                background-color:black;
                display: block;
                position: absolute;
            }
        }
        &.pluto {
            a{
                animation-duration:45s;
            }
            position: absolute;
            left:50%;
            top:50%;
            margin-top: -260px;
            margin-left: -260px;
            width:520px;
            height:520px;
            border-radius: 260px;
            border-color: black;
            span {
                top: 70px;
                left: 68px;
                width:13px;
                height:13px;
                border-radius: 6.5px;
                background-size: cover;
                background-color:black;
                display: block;
                position: absolute;
            }
        }
    }
}